@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --main-color: #4671ff;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
::-webkit-scrollbar-track {
  background-color: #343d46;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-grey);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: #f1f5f9;
}
.sideBar-ctr {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 300ms;
}
.sidebar {
  width: 90%;
  height: 98%;
  margin: 5px auto;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 8px 8px 16px #e7ebef, -8px -8px 16px #fbffff;
}
.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 3rem;
  color: #fff;
}
.sidebar-brand span {
  display: flex;
  flex-direction: column;
  padding-right: 0rem;
}
.sidebar-menu {
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.3rem;
  padding-left: 2rem;
}
.sidebar-menu ._a_replaced {
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar-menu ._a_replaced.active {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}
.sidebar-menu ._a_replaced span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
#nav-toggle {
  display: none;
}
#nav-toggle:checked + .sideBar-ctr {
  width: 75px;
}
#nav-toggle:checked + .sidebar {
  width: 70px;
  margin: auto;
}
#nav-toggle:checked + li ._a_replaced {
  padding-left: 0rem;
}
#nav-toggle:checked + li ._a_replaced span {
  padding-right: 1rem;
}
#nav-toggle:checked + .sideBar-ctr .sidebar-brand h2 {
  margin-left: 0.1rem;
}
#nav-toggle:checked + .sideBar-ctr .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sideBar-ctr .sidebar li ._a_replaced span:last-child {
  display: none;
}
#nav-toggle:checked + .sideBar-ctr .sidebar .sidebar-brand {
  padding-left: 1rem;
}
#nav-toggle:checked + .sideBar-ctr .sidebar li {
  padding-left: 0.5rem;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 75px;
}

#nav-toggle:checked ~ .main-content header {
  left: 75px;
  width: calc(100% - 100px);
}
.main-content {
  margin-left: 250px;
  transition: margin-left 300ms;
}
header {
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 250px;
  width: calc(100% - 275px);
  top: 0;
  z-index: 100;
  transition: all 300ms;
  box-shadow: 6px 6px 9px #dee1e5, -6px -6px 9px #ffffff;
}

header h2 {
  color: #222;
}
header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
  cursor: pointer;
}
.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  margin-right: 1rem;
  border-radius: 50%;
}
.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}
main {
  margin-top: 70px;
  padding: 2rem 1rem;
  background: #f1f5f9;
  min-height: calc(100vh-90px);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}
.card-single {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 6px 6px 9px #dee1e5, -6px -6px 9px #ffffff;
}

.card-single div:last-child span {
  color: var(--main-color);
  font-size: 3rem;
}
.card-single div:first-child span {
  color: var(--text-grey);
  font-size: 18px;
  padding: 20px 0px;
}
.card-single:last-child {
  background-color: var(--main-color);
}
.card-single:last-child div:last-child span {
  color: #fff;
}
.card-single:last-child div:first-child span {
  color: #fff;
}

.recent-grid {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% auto;
}
.recent-grid-left {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 60% auto;
}
.fullwidth-ctr {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 100% auto;
}
.card {
  height: fit-content;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 6px 6px 9px #dee1e5, -2px -2px 5px #ffffff;
}
.card-header,
.card-body {
  padding: 1rem;
}
.card-body table tr td {
  padding: 15px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button {
  background: var(--main-color);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
}
table {
  border-collapse: collapse;
}
thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}
tr td:last-child {
  display: flex;
  align-items: center;
}

td .status {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.status.purple {
  background-color: rebeccapurple;
}
.status.pink {
  background: deeppink;
}
.status.orange {
  background: orangered;
}

@media only screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .fullwidth-ctr,
  .recent-grid-left {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .health_unit_name {
    display: none;
  }
  header h2 {
    display: flex;
    align-items: center;
  }
  header h2 label {
    background: var(--main-color);
    color: #fff;
    padding: 0.4rem;
    padding-top: 0.4rem;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
  }
  .cards {
    grid-template-columns: 100%;
  }
  .recent-grid,
  .fullwidth-ctr,
  .recent-grid-left {
    grid-template-columns: 100%;
    grid-gap: 1.5rem;
  }
  .search-wrapper {
    display: none;
  }
  .sideBar-ctr {
    left: -100% !important;
  }
  .sidebar-menu ._a_replaced span:first-child {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .card-body {
    overflow: auto;
  }
  #nav-toggle:not(:checked) + .sideBar-ctr {
    left: 0 !important;
    width: 200px;
    z-index: 100;
  }
  #nav-toggle:not(:checked) + .sidebar .sidebar-brand,
  #nav-toggle:not(:checked) + .sidebar li {
    padding-left: 2rem;
  }
  #nav-toggle:not(:checked) + li ._a_replaced {
    padding-left: 1rem;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: inline !important;
  }
  #nav-toggle:not(:checked) ~ .main-content {
    margin-left: 200px !important;
  }
  #nav-toggle:not(:checked) ~ .main-content header {
    margin-left: 200px !important;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem !important;
  }
  header {
    width: 97% !important;
    left: 0 !important;
  }
}
