.form-header-ctr {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputCtr {
  width: 75%;
  margin: auto;
}
.inputs_ctr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .form-header-ctr {
    width: 100%;

    align-items: center;
  }

  .inputCtr {
    width: 100%;
    margin: auto;
  }
  .inputs_ctr {
    flex-direction: column;
  }
}
